# 1. Imports

In [14]:
### Elementares
import pandas as pd

### Plot gráfico
import seaborn    as sns
import matplotlib as mpl

### Sklearn
from   sklearn.model_selection import train_test_split

# 2. Help Function

# 3. Load Data

In [2]:
data_raw = pd.read_csv( '../data/train.csv' )

## 3.1 Pre-analysis

In [3]:
### Amostra de dados contidos no DF
print( '---Amostra de dados' )
display( data_raw.head(2) )
### Verificação de tipo dos dados
print( '---Verificação do tipo dos dados' )
display( data_raw.dtypes )
###Check de valores nulos
print( '---Check de valores nulos' )
display( data_raw.isna().sum() )
### Verificação de dimensões do DF
print( f'Dataframe contendo {data_raw.shape[0]} linhas e {data_raw.shape[1]} colunas' )

---Amostra de dados

,row_id,date,country,store,product,num_sold
0,0,2017-01-01,Belgium,KaggleMart,Kaggle Advanced Techniques,663
1,1,2017-01-01,Belgium,KaggleMart,Kaggle Getting Started,615

---Verificação do tipo dos dados

row_id       int64
date        object
country     object
store       object
product     object
num_sold     int64
dtype: object

---Check de valores nulos

row_id      0
date        0
country     0
store       0
product     0
num_sold    0
dtype: int64

Dataframe contendo 70128 linhas e 6 colunas

## 3.2 Initial data conversion

In [4]:
data_raw['date'] = pd.to_datetime(data_raw.date)

## 3.3 Data split

In [26]:
x = data_raw.drop( columns = 'num_sold' ) 
y = data_raw.num_sold
x_train, x_validation, y_train, y_validation = train_test_split( x, y, test_size = 0.15, shuffle = True )

In [27]:
x_validation

,row_id,date,country,store,product
32375,32375,2018-11-06,Germany,KaggleRama,Kaggle for Kids: One Smart Goose
52865,52865,2020-01-07,Germany,KaggleMart,Kaggle Getting Started
30552,30552,2018-09-29,Italy,KaggleMart,Kaggle Advanced Techniques
12182,12182,2017-09-11,Poland,KaggleRama,Kaggle Recipe Book
61873,61873,2020-07-13,Belgium,KaggleMart,Kaggle Getting Started
...,...,...,...,...,...
37202,37202,2019-02-15,Belgium,KaggleMart,Kaggle Recipe Book
39023,39023,2019-03-24,Spain,KaggleRama,Kaggle for Kids: One Smart Goose
70012,70012,2020-12-29,Italy,KaggleRama,Kaggle Advanced Techniques
41602,41602,2019-05-17,Poland,KaggleMart,Kaggle Recipe Book
69,69,2017-01-02,Germany,KaggleRama,Kaggle Getting Started